{
  "extends": "airbnb",
  "rules": {
    "no-console": "off",
    "linebreak-style": "off",
    "react/prop-types": "off",
    "no-underscore-dangle": "off",
    "react/jsx-filename-extension": "off"
  }
}
