@import 'main';

.tech {
    width: 100%;
}

.tech-logo {
    margin-left: 20%;
    
    width: 60%;
    height: auto;
}

.tech-name {
    margin-top: 30px;

    text-align: center;
    word-spacing: 1px;
}
